<ion-app [hidden]="!loginstatus">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Welcome</ion-list-header>
          <ion-note [hidden]="!loginstatus">{{username}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i; submit(p.title)" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="true" [class.selected]="selectedIndex == i">
              <ion-label>{{ p.title }}<ion-icon *ngIf="i===0" name="logo-bitcoin"></ion-icon></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Subscriptions:</ion-list-header>

          <ion-item *ngFor="let sub of subs; let i = index" lines="none">
            <ion-button slot="start" (click)="unsubscribe(sub)">X</ion-button>
            <ion-label>{{ sub }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button (click)="logout()" item-end>Logout</ion-button>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<ion-card-header [hidden]="loginstatus">
  <ion-card-title align="center">CRYPTO ALERTS</ion-card-title>
</ion-card-header>
<ion-col id="container" [hidden]="loginstatus">
  <app-login [hidden]="loginstatus"></app-login>
</ion-col>

